language: java

jdk:
  - oraclejdk8
services:
  - docker

env:
- NEWMAN_VERSION=3.1.0

before_install:
- docker pull postman/newman_alpine33:${NEWMAN_VERSION};

script:
  - docker run -v $PWD/test/data:/etc/newman -t postman/newman_alpine33:${NEWMAN_VERSION}
        -c HTTPBinNewmanTest.json.postman_collection
        -e HTTPBinNewmanTestEnv.json.postman_environment

after_success:
  - echo "All done!"